{%extends 'layout/base.html'%}
{% block title%}Xem Thông Tin Đăng Ký Khám{% endblock%}

{%block content%}
</br>
{% if current_user.user_role_id == 3 and current_user.active == True %}
<div class="border border-dark">
<h3 class="text-danger text-center ">DANH SÁCH ĐĂNG KÝ KHÁM</h3>
<div class="border-top border-dark">
<h5 class="font-weight-bold text-center">Ngày Khám:{{ngaykham_homnay}}</h5>
</div>
</div>
{% if khambenh %}
    <table class="table table-hover table-bordered border">
    <thead>
      <tr>
        <th>Số Thứ Tự</th>
        <th>Họ Tên</th>
        <th>Giới Tính</th>
        <th>Năm Sinh</th>
        <th>Địa Chỉ</th>
        <th>Số Điện Thoại</th>
      </tr>
    </thead>
    <tbody>
      {% for list in khambenh %}
      <tr>
        <td>{{list[0]}}</td>
        <td>{{list[1]}} {{list[2]}}</td>
          {% if list[3].__eq__("male") %}
        <td>NAM</td>
         {%else%}
        <td>NỮ</td>
          {%endif%}
        <td>{{list[4]}}</td>
        <td>{{list[5]}} {{ list[6] }} {{ list[7] }}</td>
        <td>{{list[8]}}</td>
      </tr>
     {% endfor %}
    </tbody>
  </table>

{%else%}
    <h3> Chưa có ai đăng ký khám</h3>
{%endif%}
<br>
<form method="post" action="{{ url_for('xemdanhsach_khambenh')}}">
    <input type="submit" class="btn btn-danger" value="HOÀN TẤT DANH SÁCH KHÁM"></input>
</form>

{% if error_msg %}
<div class="alert alert-danger">
    {{error_msg}}
</div>
{% endif %}

{% if message_success %}
<div class="alert alert-success">
    {{message_success}}
</div>
{% endif %}

{%else%}
    <h1 class="text-danger text-center"> BẠN KHÔNG CÓ QUYỀN HẠN ĐỂ TRUY CẬP TRANG NÀY</h1>
{%endif%}


{% endblock%}