{%extends 'layout/base.html'%}
{% block title%}Xem DANH SÁCH KHÁM BỆNH{% endblock%}

{%block content%}
</br>

{% if current_user.user_role_id == 4 and current_user.active == True %}

<div class="border border-dark" xmlns="http://www.w3.org/1999/html">
    <h3 class="text-danger text-center ">DANH SÁCH ĐĂNG KÝ KHÁM</h3>
    <div class="border-top border-dark">
        {%if dateInput%}
        <h5 class="font-weight-bold text-center">Ngày Khám: {{dateInput}}</h5>
        {%else%}
         <h5 class="font-weight-bold text-center">Ngày Khám: {{ngaykham_homnay}}</h5>
        {%endif%}
    </div>
    <div class="border-top border-dark">
        <br>
    <form>
        <div class="form-group">
             <label class="text-danger font-weight-bold" for="dateInput">Nhập Ngày Cần Tìm Kiếm</label>
            <input type="date" class="form-control" name="dateInput" id="dateInput"/>
        </div>
        <input type="submit" value="Tìm Kiếm Theo Ngày" class="btn btn-danger"/>
        </br>
    </form>
    </br>
    </div>
</div>

{% if khambenh %}
<div class="table-responsive table-hover">
    <table class="table table-hover table-bordered border">
        <thead>
        <tr>
            <th>Số Thứ Tự</th>
            <th>Họ Tên</th>
            <th>Giới Tính</th>
            <th>Năm Sinh</th>
            <th>Số Điện Thoại</th>
            <th>Trạng Thái Hoàn Tất Thủ Tục</th>
            <th>Trạng Thái Kê Toa Thuốc</th>
            <th> Tương Tác Bác Sĩ</th>
        </tr>
        </thead>
        <tbody>
        {% for list in khambenh %}
        {% if list[10].__eq__(False) %}
        <tr>
            <td>{{list[0]}}</td>
            <td>{{list[1]}} {{list[2]}}</td>
             {% if list[3].__eq__("male") %}
            <td>NAM</td>
             {%else%}
              <td>NỮ</td>
            {%endif%}
            <td>{{list[4]}}</td>
            <td>{{list[8]}}</td>

            {% if list[9].__eq__(True) %}
            <td class="text-success">Đã Hoàn Tất Danh Sách Khám</td>
            {% else %}
            <td class="text-danger">Y Tá Đang Kiểm Duyệt</td>

            {%endif%}

            {% if list[10].__eq__(True)%}
            <td class="text-success">Bệnh Nhân Đã Nhận Toa Thuốc</td>
            {%else%}
            <td class="text-danger">Bác Sĩ Đang Khám</td>
            {%endif%}

            {%if list[9].__eq__(False) and list[10].__eq__(False) %}
            <td>
                <p class="text-danger">Bệnh Nhân Đang Được Y Tá kiểm duyệt</p>
            </td>
            {% else %}
            <td>
                 <a class="btn btn-success " href="{{url_for('lapphieukham', khambenh_id=list[0] )}}">Lập Phiếu Khám Cho Bệnh Nhân</a>
            </td>
            {% endif %}

        </tr>
        {%else%}
        <tr>
            <td>
                <p class="text-success font-weight-bold"> Bệnh Nhân Đã Được Khám Và Kê Toa Thuốc</p>
            </td>
        </tr>
        {% endif%}
        {% endfor %}
        </tbody>
    </table>
</div>
{%else%}
<h3> Chưa có ai đăng ký khám</h3>
{%endif%}
<br>

{%else%}
<h1 class="text-danger text-center"> BẠN KHÔNG CÓ QUYỀN HẠN ĐỂ TRUY CẬP TRANG NÀY</h1>

{%endif%}


{% endblock%}