{%extends 'layout/base.html'%}
{% block title%}Xem Thông Tin Đăng Ký Khám{% endblock%}

{%block content%}
</br>

<h3 class="text-info"> Thông Tin Đăng Ký Khám Bệnh</h3>
    <ul class="list-group">
    {%for t in thongtin_khambenh%}
         <li class="list-group-item">
            <div class="container">
              <h2>Ngày Khám</h2>
              <p class="font-weight-normal">{{t.lich_khambenh}}</p>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Số Thứ Tự</th>
                    <th>Họ Tên</th>
                    <th>Giới Tính</th>
                    <th>Năm Sinh</th>
                    <th>Địa Chỉ</th>
                    <th>Số Điện Thoại</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{t.id}}</td>
                    <td>{{user_info.first_name}} {{user_info.last_name}}</td>
                    {% if user_info.gender.__eq__("male") %}
                        <td>NAM</td>
                     {%else%}
                         <td>NỮ</td>
                    {%endif%}
                    <td>{{user_info.birthday}}</td>
                    <td>{{address.address_street}}</td>
                    <td>{{phones[0].number_phone}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <h3 class="text-info">Trạng Thái Khám Bệnh:
                {%if t.trangthai_khambenh == True %}
                <span class="text-success">Đơn Khám Đã Được Kê Toa Thuốc</span>
                {%else%}
                <span class="text-warning">Đơn Khám Đang Được Đợi Khám</span>
                {%endif%}
            </h3>
            <h3 class="text-info">Trạng Thái Hoàn Tất Thủ Tục Khám Bệnh:
                {% if t.trangthai_hoantatthutuc == True%}
                <span class="text-success">Đơn Khám Đã Được Hoàn Tất Và Gửi SMS Cho Bệnh Nhân</span>
                {%else%}
                 <span class="text-danger">Đơn Khám Đang Được Xét Duyệt Bởi Y Tả</span>
                {%endif%}
            </h3>
          </li>
        {% endfor %}

    </ul>

{% endblock%}